h1{
	color: white;
	border:4px solid white;
	
}
body{
background-color: pink;

.socialmedia {
color: blue;
}
#bad { 
color: red;
}
.stores {
	color: purple;
	text: 75px;
}
.good{
color: brown;
}
.hobbies {
	color: green;
}
